.alltabs{
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    margin: 50px auto;
    padding: 25px;
}
.alltabs input[type="radio"]{
    display: none;
    
}
.alltabs label{
    padding: 25px;
    background: blanchedalmond;
    font-weight: bold;
    border-style: ridge;
    border-radius: 15px;
    margin-left: 25px;

}
.alltabs .tab{
    width: 100%;
    padding: 20px;
    background: white;
    order: 1;
    display: none;
    border-radius: 15px;
    margin-left: 25px;
}
.alltabs .tabs h2{
    font-size: 3em;

}
.alltabs input[type="radio"]:checked + label + .tab{
    display: block;
}
.alltabs input[type="radio"]:checked + label{
    background: white;
}
.TDD a , .Basic_web a{
    display: inline-block;
    border: 1px solid;
    border-radius: 15px;
    background-color:burlywood;
    padding: 10px;
}
.TDD{
    padding: 10px;
}


